    <nav class="navbar navbar-inverse navbar-fixed-top fh-nav" role="navigation"  >
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <ul class="nav navbar-nav fh-nav-menu">
          <li>
            <a href="#">LOGO</a>
          </li>
        </ul>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav fh-nav-menu">
          <li>
            <a href="#">Dinner Table</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Sign In</a>
          </li>
        </ul>
      </div>
    </nav>
