<div class="row">
  <div class="section">
    <h2 class="text-center">Fighting the Good Fight Against Hunger</h2>
  </div>
</div>
<div class="container" style="margin-top: 20px;">
  <div class="row fh-card">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: white; border-color: white;">
        <h3 class="panel-title">HEB</h3>
      </div>
      <div class="panel-body">
        50 Loaves of HEB Brand Bread Available for pickup...
      </div>
    </div>
  </div>
  <div class="row fh-card">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: white; border-color: white;">
        <h3 class="panel-title">Freebirds</h3>
      </div>
      <div class="panel-body">
        4 10-pound bags of tortilla chips available for pickup...
      </div>
    </div>
  </div>
  <div class="row fh-card">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: white; border-color: white;">
        <h3 class="panel-title">Mobile Loaves & Fishes
        </h3>
      </div>
      <div class="panel-body">
        Canned soup, vegetables wanted to feed 20-30 people
      </div>
    </div>
  </div>
  <div class="row fh-card">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: white; border-color: white;">
        <h3 class="panel-title">United Way for Greater Austin
        </h3>
      </div>
      <div class="panel-body">
        Water, sodas, juices wanted for summer camp of 50-75 kids
      </div>
    </div>
  </div>
</div>
