<div>
  <% @donations.each do |donation| %>
    <div class="donation">
      <div class="donationName"><%= donation.name %></div>
      <br />
      <div class="donationDescription"<%= donation.description %></div>
      <br />
    </div>
  <% end %>
</div>