    <nav class="navbar navbar-inverse navbar-fixed-top fh-nav" role="navigation"  >
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <ul class="nav navbar-nav fh-nav-menu">
          <li>
            <a href="#">LOGO</a>
          </li>
        </ul>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav fh-nav-menu">
          <li>
            <a href="#">Dinner Table</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
<<<<<<< HEAD
            <% if user_signed_in? %>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
            <% else %>
                <%= link_to 'Sign in', new_user_session_path %>
            <% end %>
=======
            <a href="#">Sign In</a>
>>>>>>> origin/master
          </li>
        </ul>
      </div>
    </nav>
<<<<<<< HEAD
=======
  </div>
>>>>>>> origin/master
