body{
    font-family: 'Open Sans', sans-serif;
}

.fh-card-completed {
    background-color: #DFF6FB !important;
}
/*Material Design Shadows*/

.z-depth-0 {
    box-shadow: none !important;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4, .modal {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}



/*Navigation*/




/*Main header section*/
.jumbotron{
    min-height: 500px;
    margin-bottom: 0px;
    background-color: #F3F2F2;
}

.button-items {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.button-margins{
    margin-top: 20%;
}

.btn-lg{
    width: 200px;
} /*Uses boostrap class*/


/*Dinner Table Section*/

.dinner-table{
    margin-bottom: 5%;
}

.dt-bg-header-color{
    background-color: #D8D8D8;
    margin-bottom: 5%;
}

.dt-panel{
    background-color: gray;
    margin: 10px;
}

.panel-title:hover{
    color: pink;
}

.panel-title{
    width: 50%;
}

.panel-title-underline{
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid gray;
}

.panel-text{
    font-weight: 400;
    font-style: italic;
}

.p-information{
    line-height: 1em;
}
.claim{
    min-height: 100% ;
    min-width: 150px;
}

/*Mission */

.mission{
    min-height: 500px;
    background-color: #F3F2F2;
    position: relative;
    padding: 30px
}

.button-items-mission {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.footer-bg{
    background-color: gray;

}

.footer-nav{
    padding: 30px;
    text-align: left;
    color: white;
}

.footer-nav ul{
    list-style: none;
    padding: 0px;
}

.footer-nav a{
    line-height: 2em;
    color: white;
}


.social-icons{
    text-align: center;
    padding: 0
}


/*Media Queries
*/

@media screen and (min-width:775px) {
    .footer-nav li{
        max-width: 100%;
        padding: 30px 5px 0px 5px;;
        margin: 0px !important;
        text-align: left;
        display: inline;
    }

    .social-icons{
        text-align: right;
        padding: 0px 5px 0px 5px;
    }

    address{
        text-align: right;
        padding: 0px 5px 0px 5px;
    }
}
